policy_module(bulldog, 1.100.1)

########################################
#
# Declarations
#

type bulldog_t;
type bulldog_exec_t;
init_daemon_domain(bulldog_t, bulldog_exec_t)

permissive bulldog_t;

type bulldog_initrc_exec_t;
init_script_file(bulldog_initrc_exec_t)

type bulldog_conf_t;
files_type(bulldog_conf_t)

type bulldog_var_lib_t;
files_type(bulldog_var_lib_t)

type bulldog_var_run_t;
files_type(bulldog_var_run_t)

type bulldog_port_t;
corenet_port(bulldog_port_t)

########################################
#
# bulldog local policy
#
allow bulldog_t self:process { fork };

allow bulldog_t self:fifo_file rw_fifo_file_perms;
allow bulldog_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bulldog_t, bulldog_conf_t, bulldog_conf_t)
manage_files_pattern(bulldog_t, bulldog_conf_t, bulldog_conf_t)

manage_dirs_pattern(bulldog_t, bulldog_var_lib_t, bulldog_var_lib_t)
manage_files_pattern(bulldog_t, bulldog_var_lib_t, bulldog_var_lib_t)
files_var_lib_filetrans(bulldog_t, bulldog_var_lib_t, { dir file })

manage_dirs_pattern(bulldog_t, bulldog_var_run_t, bulldog_var_run_t)
manage_files_pattern(bulldog_t, bulldog_var_run_t, bulldog_var_run_t)

sysnet_dns_name_resolve(bulldog_t)
corenet_all_recvfrom_unlabeled(bulldog_t)

allow bulldog_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bulldog_t)
corenet_tcp_sendrecv_generic_node(bulldog_t)
corenet_tcp_sendrecv_all_ports(bulldog_t)
corenet_tcp_bind_generic_node(bulldog_t)

gen_require(`
    type bulldog_port_t;
')
allow bulldog_t bulldog_port_t:tcp_socket name_bind;

gen_require(`
    type bulldog_port_t;
')
allow bulldog_t bulldog_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bulldog_t)

files_read_etc_files(bulldog_t)

miscfiles_read_localization(bulldog_t)

sysnet_dns_name_resolve(bulldog_t)

allow bulldog_t bulldog_exec_t:file execute_no_trans;
allow bulldog_t self:process setsched;
corecmd_exec_ls(bulldog_t)
corenet_tcp_connect_http_port(bulldog_t)
dev_read_urand(bulldog_t)
fs_getattr_xattr_fs(bulldog_t)
kernel_read_system_state(bulldog_t)
